
body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
margin:0;
}

header{
text-align:center;
padding:100px 20px;
background:linear-gradient(90deg,#2563eb,#7c3aed);
}

.btn{
background:white;
color:black;
padding:12px 24px;
text-decoration:none;
border-radius:6px;
}

section{
padding:60px;
max-width:1000px;
margin:auto;
}

.diagram img{
width:100%;
margin-top:20px;
background:white;
border-radius:8px;
}

.project{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
text-align:center;
padding:40px;
opacity:.8;
}
